<template>
  <div class="" style="	width: 100vw;height: 100vh;">
    <Home />
  </div>
</template>

<script>
import Home from '@/components/Home.vue'

export default {
  components: {
    Home
  }
}
</script>
