<template>
  <div>
    <apexcharts
      width="100%"
      height="350"
      type="line"
      :options="options"
      :series="seriesData"
    />
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  components: {
    apexcharts: VueApexCharts,
  },
  
  props: {
    salaries: {
      type: Array,
      require: true,
    },
    hours: {
      type: Array,
      require: true,
    },
    selectedUser: {
      type: Number,
      require: true,
    },
  },

  watch: {
    selectedUser() {
      setTimeout(() => {
        this.reGenerateChart();
      }, 500);
    },
  },

  data() {
    return {
      seriesData: [
        {
          name: 'Salary',
          type: 'line',
          data: this.salaries,
        },
        {
          name: 'Working Hours',
          type: 'column',
          data: this.hours,
        },
      ],

      options: {
        chart: {
          id: 'vuechart-example',
        },
        labels: ['Q1', 'Q2', 'Q3', 'Q4'],
        xaxis: {
          type: 'category',
        },
        yaxis: [
          {
            title:{
              text: 'Salary',
            },
          },
          {
            opposite: true,
            title: {
              text: 'Working Hours'
            },
          },
        ],
      },
    };
  },

  methods: {
    reGenerateChart() {
      this.seriesData = [
         {
          name: 'Salary',
          type: 'line',
          data: this.salaries,
        },
        {
          name: 'Working Hours',
          type: 'column',
          data: this.hours,
        },
      ];
    },
  },
};
</script>
