<template>
  <div class="d-flex flex-column h-100 p-4 overflow-auto">
    <div class="container d-flex flex-row-reverse mb-5">
      <button
        @click="generate"
        class="btn btn-primary m-1"
        :disabled="loading"
      >Generate Data</button>

      <button
        @click="deleteAllData"
        class="btn btn-light text-danger border-danger m-1"
        :disabled="loading"
      >Delete all</button>
    </div>

    <div class="flex-grow-1 overflow-auto mb-5">
      <div v-if="error" class="text-denger">
        Something goes wrong!!
      </div>

      <div v-else-if="loading" class="text-primary">
        Loading...
      </div>

      <div v-else-if="dataset.length < 1">
        No data found
      </div>
      
      <div v-else class="">
        <div v-if="getDataForTable.length < 1">
          No data found
        </div>

        <Table v-else :dataset="getDataForTable" v-on:ondelete="deleteUser" />
      </div>
    </div>

    <div class="p-2">
      <nav v-if="dataset.length > 0" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" :class="$route.query.page == 1 ? 'disabled' : false">
            <button class="page-link" @click="updatePage(1)">
              First
            </button>
          </li>

          <li
            v-for="page in getPageNumbersForNav" :key="page"
            class="page-item"
            :class="$route.query.page == page ? 'disabled' : false"
          >
            <button
              class="page-link"
              @click="updatePage(page)"
            >{{ page }}</button>
          </li>

          <li class="page-item"
            :class="$route.query.page == dataset.length/numberOfDataAtTime ? 'disabled' : false"
          >
            <button class="page-link" @click="updatePage(dataset.length/numberOfDataAtTime)">Last</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
import Table from '@/components/Table.vue';

export default {
  components: {
    Table,
  },

  data() {
    return {
      dataset: [],
      chunk: 100000,
      loading: false,
      error: false,

      id: 1,
      numberOfDataAtTime: 100,
      jobTitleList: [
        'Webmaster',
        'Healthcare Specialist',
        'Front Desk Coordinator',
        'Cashier',
        'Software Engineer',
      ],
      countryList: [
        'India',
        'USA',
        'France',
        'Germany',
        'Japan',
      ],
    };
  },

  computed: {
    getPage() {
      if (!this.$route.query.page) {
        this.updatePage(1);
        return 1;
      }
      return parseInt(this.$route.query.page);
    },
    
    getDataForTable() {
      const start = (this.getPage - 1) * this.numberOfDataAtTime;
      
      return this.dataset.slice(start, start + this.numberOfDataAtTime);
    },

    getPageNumbersForNav() {
      const currentPage = this.getPage;
      const totalPage = this.dataset.length / this.numberOfDataAtTime;
      const lastPage = totalPage;

      if (totalPage < 4 || currentPage == 1) {
        return [1, 2, 3];
      }

      if (currentPage == lastPage) {
        return [lastPage-2, lastPage-1, lastPage];
      }

      return [ currentPage-1, currentPage, currentPage+1 ];
    },
  },

  methods: {
    async generate() {
      const parentPromise = new Promise(async (resolve, reject) => {
        this.loading = true;

        setTimeout(() => {
          const allPromiseArray = [];
          let numberOfDataGenerated = 1;
          while (numberOfDataGenerated <= this.chunk) {
            const childPromise = new Promise((resolveinner, rejectinner) => {
              this.dataset.push(this.generateRandomData(this.id++));
              numberOfDataGenerated = numberOfDataGenerated + 1;
  
              resolveinner();
            });
  
            allPromiseArray.push(childPromise);
          }
  
          Promise.allSettled(allPromiseArray).then(() => {
            resolve();
          }).catch((error) => {
            console.log(error);
            reject();
          });
        }, 100);
      })

      parentPromise.then(() => {
        this.loading = false;
      }).catch(() => {
        this.error = true;
        this.dataset = [];
      });
    },
    
    generateRandomData(id) {      
      const fname = this.generateRandomName();
      const lname = this.generateRandomName();
      
      return {
        id,
        job_title: this.jobTitleList[Math.floor(Math.random() * 5)],
        first_name: fname,
        last_name: lname,
        email: `${fname}_${lname}@${this.generateRandomName()}.com`,
        country: this.countryList[Math.floor(Math.random() * 5)],
        q1_salary: this.generateRandomNumber(1000, 5000),
        q2_salary: this.generateRandomNumber(1000, 5000),
        q3_salary: this.generateRandomNumber(1000, 5000),
        q4_salary: this.generateRandomNumber(1000, 5000),
        q1_working_hours: this.generateRandomNumber(200, 500),
        q2_working_hours: this.generateRandomNumber(200, 500),
        q3_working_hours: this.generateRandomNumber(200, 500),
        q4_working_hours: this.generateRandomNumber(200, 500),
      };
    },

    generateRandomName() {
      const chars = 'abcdefghijklmnopqrstuvwxyz';
      let string = '';

      for(var i=0; i<5; i++){
          string += chars[Math.floor(Math.random() * chars.length)];
      }

      return string;
    },

    generateRandomNumber(minNumber = 1, maxNumber = 10) {
      return Math.floor(Math.random() * maxNumber) + minNumber;
    },

    deleteUser(id) {
      const index = this.dataset.findIndex((user) => user.id === id);

      if (index === -1) {
        return;
      }

      this.dataset.splice(index, 1);
    },

    deleteAllData() {
      this.loading = true;

      setTimeout(() => {
        this.dataset = [];
        
        this.loading = false;
      }, 200);
    },

    updatePage(page) {
      this.$router.push({ query: { page }});
    },
  },
};
</script>

