<template>
  <div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Chart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <Chart
              :salaries="[
                dataset[selectedUser].q1_salary,
                dataset[selectedUser].q2_salary,
                dataset[selectedUser].q3_salary,
                dataset[selectedUser].q4_salary,
              ]"

              :hours="[
                dataset[selectedUser].q1_working_hours,
                dataset[selectedUser].q2_working_hours,
                dataset[selectedUser].q3_working_hours,
                dataset[selectedUser].q4_working_hours,
              ]"

              :selectedUser="selectedUser"
            />
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Job Title</th>
          <th scope="col">Email Address</th>
          <th scope="col">Full Name</th>
          <th scope="col">Country</th>
          <th scope="col">
            Salary in Q1
            <input type="checkbox" v-model="considerQ1Salary">
          </th>
          <th scope="col">
            Salary in Q2
            <input type="checkbox" v-model="considerQ2Salary">
          </th>
          <th scope="col">
            Salary in Q3
            <input type="checkbox" v-model="considerQ3Salary">
          </th>
          <th scope="col">
            Salary in Q4
            <input type="checkbox" v-model="considerQ4Salary">
          </th>
          <th scope="col">Total Salary</th>
          <th scope="col">Total Hours</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(user, index) in dataset" :key="user.id">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.job_title }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.country }}</td>
          <td>{{ user.q1_salary }}</td>
          <td>{{ user.q2_salary }}</td>
          <td>{{ user.q3_salary }}</td>
          <td>{{ user.q4_salary }}</td>
          <td>{{ getTotalSalary(index) }}</td>
          <td>{{ getTotalHours(index) }}</td>
          <td>
            <button
              @click="deleteUser(user.id, $event)"
              class="m-1 btn btn-sm btn-outline-danger"
            >delete</button>
            <button
              data-toggle="modal" data-target="#exampleModal"
              @click="selectedUser = index"
              class="m-1 btn btn-sm btn-outline-primary"
            >view</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>
.table { border-collapse: separate; }
thead th { position: sticky; top: 0; background-color: white; border: 1px solid black }
</style>

<script>
import Chart from '@/components/Chart.vue';

export default {
  components: {
    Chart,
  },
  
  props: {
    dataset: {
      type: Array,
      require: true,
    },
  },

  data() {
    return {
      considerQ1Salary: true,
      considerQ2Salary: true,
      considerQ3Salary: true,
      considerQ4Salary: true,

      selectedUser: 0,
    };
  },

  methods: {
    deleteUser(id, $event) {
      $event.target.disabled = true;
      
      setTimeout(() => {
        this.$emit('ondelete', id);
      }, 100);
    },
    
    getTotalSalary(index) {
      let total = 0;
      
      if (this.considerQ1Salary) {
        total += this.dataset[index].q1_salary;
      }
      
      if (this.considerQ2Salary) {
        total += this.dataset[index].q2_salary;
      }
      
      if (this.considerQ3Salary) {
        total += this.dataset[index].q3_salary;
      }
      
      if (this.considerQ4Salary) {
        total += this.dataset[index].q4_salary;
      }
      
      return total;
    },

    getTotalHours(index) {
      let total = 0;
      
      if (this.considerQ1Salary) {
        total += this.dataset[index].q1_working_hours;
      }
      
      if (this.considerQ2Salary) {
        total += this.dataset[index].q2_working_hours;
      }
      
      if (this.considerQ3Salary) {
        total += this.dataset[index].q3_working_hours;
      }
      
      if (this.considerQ4Salary) {
        total += this.dataset[index].q4_working_hours;
      }
      
      return total;
    },
  },
};
</script>
